:root{
    --color-primary:#03a9f5;/* var(--color-primary)     */ 
    --color-secondary:#eb1e61;/* var(--color-secondary)   */
    --shadow: 0 0.2rem 0.4rem #0006;  /* var(--shadow)  */ 
    
}

body,
body * {
    box-sizing: border-box;/* turinio plotis AUTOMATISKAI PASISKAICIUOJA VISIEMS ELEMENTAMS */
    margin:0; /* jokie elementai neatsistuminetu vienas nuo kito*/
    padding:0; /* kad nebutu jokio issiputimo */
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}