.clock{
    display: flex;
    width: 100%;
    gap: 40px 0;
}
.clock .time{
    width:25%;


}
.clock .value{
    font-size: 50px;
    color:#fff;
    font-weight: bold;
    
}
.clock .label{
    text-transform: uppercase;
    color: #fff;
    
}
@media(max-width:700px){
    .clock .time {
        width: calc(( 100% - 20px) / 2)

    }
}
