.mouse{
   font-size: 15px; 
   width: 2em;
   height: 3em;
   border: 0.2px solid white;
   border-radius: 1em;
}
.mouse::after{
    content:"";
    display: block;
    width: 0.2em;
    height: 0.4em;
    margin-left: 0.85em;
    margin-top:0.5em ;
    background-color: white;
    border-radius: 0.1em;

}